.nav {
  height: 5rem;
  background-color: var(--primaryColor);
  display: flex;
  justify-content: space-between;
}
.item {
  margin-left: 1rem;
}
.section1 {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
.section2 {
  margin-left: 1rem;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.brand {
  margin-left: 2rem;
}
.login {
  text-align: center;
}

@media (max-width: 500px) {
  .section1 {
    width: 50%;
  }
  .section2 {
    width: 50%;
  }
}

.searchbar input {
  border: none;
  /* outline: 1px solid black; */
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  padding: 10px 5px;
  background-color: white;
}
.searchbar {
  display: flex;
  width: 50%;
  max-width: 555px;
  margin-top: auto;
  margin-bottom: auto;
}
.button {
  color: var(--primaryColor);
  background-color: white;
  padding: 0.7rem 1.5rem;
  margin-left: 3px;
}
.button:hover {
  background-color: tomato;
}
@media (max-width: 500px) {
  .searchbar {
    display: none;
  }
}

@media (max-width: 900px) {
  .searchbar {
    width: 40%;
  }
}

.location {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 1rem;
}
.locationtitle {
  max-width: 70px;
  font-size: 0.7rem;
}

.myacc {
  position: relative;
  bottom: -1rem;
  padding-bottom: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.myacc span {
  margin-left: 0.5rem;
}

.accdrop {
  display: none;
  cursor: pointer;
  background-color: white;
  position: absolute;
  border-radius: 5px;
  top: 2.5rem;
  width: 10rem;
  z-index: 20;
}
.accdrop:after {
  content: ' ';
  position: absolute;
  right: 40%;
  top: -0.6rem;
  border-top: none;
  border-right: 0.6rem solid transparent;
  border-left: 0.6rem solid transparent;
  border-bottom: 0.6rem solid white;
}

.dropitem {
  display: flex;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid rgb(219, 219, 219);
  /* justify-content: start; */
}
.dropitem:last-child {
  border-bottom: none;
}
.dropitem:hover {
  background-color: rgb(236, 234, 234);
}
.accdrop hr:last-child {
  display: none;
}
.myacc:hover .accdrop {
  display: block;
}
